h1 {

}
h2 {
    border-width: 2px;
    border-style: solid;
    border-color: blue; 
/*
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
*/
    
    padding: 60px 20px 30px 20px;
/*    <!--top, right, bottom, left-->*/
    
    margin-bottom: 60px
}