<html>
<head>
  <title>CSS Page</title>
  <style type="text/css">
  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d }
  h1 {
    font-family: Helvetica, sans-serif }
  </style>
</head>

<body>