<html>
<head>
  <title>CSS Page</title>
  <style type="text/css">
  ul, li, ol {
    font-family: Times New Roman, serif
    color: Red; }
  h1 {
    font-family: Helvetica, sans-serif;
color: Blue;}
  </style>
</head>

<body>